@page
@model MyAffTest.Areas.Identity.Pages.Role.UserInRoleModel
@{ 
    ViewData["Title"] = "User in Role";
    //Layout = "../Shared/_Layout_Admin.cshtml";
}

<h1>Users in this role: @Model.RoleName</h1>


<form method="post" class="mt-3">

    <div class="card">
        <div class="card-header"> 
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-2 col-form-label">Role ID:</label>
                <div class="col-sm-10">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Id" disabled class="form-control">
                </div>
            </div>

            @if (Model.errorMessage.Length > 0)
            {
                <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.errorMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            }
            @if (Model.successMessage.Length > 0)
            {
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <div class='alert alert-success alert-dismissible fade show' role='alert'>
                            <strong>@Model.successMessage</strong>
                            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                        </div>
                    </div>
                </div> 
            }

        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Delete</th>
                        <th>User Email</th> 
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Any())
                    {
                        int num = 0;
                        foreach (var user in Model.Users)
                        {
                            num++;
                            <tr>
                                <td>
                                    @*https://www.learnrazorpages.com/razor-pages/forms/checkboxes*@
                                    <input name="AreChecked" type="checkbox" value="@user.Id" />
                                </td> 
                                @*<td>@num.ToString()</td>*@
                                <td>@user.Email</td>   
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No user in this role</td><td>&nbsp;</td>
                        </tr>
                    }
                    <tr>
                        <td>Assign user</td>
                        <td> 
                            <input type="text" class="form-control" name="NewUserEmail" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button> 
            <a class="btn btn-secondary" href="./" role="button">Cancel</a>
        </div>


     </div>
 
</form>

