@page "/MyOpportunities"
@model Outreach.Areas.Consoles.Pages.Content.Tools.Opportunities.MyOpportunities.MyOpportunitiesModel
@{
    Layout = "/Areas/Consoles/Pages/Shared/_LayoutProfileLight.cshtml";
}

<partial name="_AdminNavPartial" model="Model" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Home</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-page="/HomePages/index">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Search</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
@*                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estimated budget</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total amount spent</span>
                                        <span class="info-box-number text-center text-muted mb-0">2000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estimated project duration</span>
                                        <span class="info-box-number text-center text-muted mb-0">20</span>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        @*                                                        <select class="select2" multiple="multiple" data-placeholder="Any" style="width: 100%;">

                                                        *@                                                        <label>Result Type:</label>
                                                        <select class="select2" style="width: 100%;">

                                                            <option selected>Opportunities</option>
                                                            @*                                                          <option>Organizations</option>
                                                            <option>Users</option>*@
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label>Tags:</label>
                                                        <select class="select2" multiple="multiple" style="width: 100%;" name="chkTag">
                                                            @foreach (var tag in Model.ListTag)
                                                            {
                                                                string IfTagChecked = "";
                                                                @foreach (var t2 in Model.SelectedTagIds)
                                                                {
                                                                    @if (tag.Id == t2)
                                                                    {
                                                                        IfTagChecked = "selected";
                                                                        break;
                                                                    }
                                                                }
                                                                if (IfTagChecked == "selected")
                                                                {
                                                                    <option value="@tag.Id" selected>@tag.TagName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@tag.Id">@tag.TagName</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label>Order By:</label>
                                                        <select class="select2" style="width: 100%;" name="chkorderby">
                                                            <option selected value="title">Title</option>
                                                            <option value="date">Date</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group input-group-lg">
                                                    <input type="text" name="TxtSearch" class="form-control form-control-lg" placeholder="Type your keywords here" value="@Model.defaultsearchtext">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Outreach v3</h3>
                        <p class="text-muted">This feature is still in developement, please report any bugs you find using our contact page!

                            If there are persistent issues contact Maxwell Li directly
                        </p>


                        <div class="text-center mt-5 mb-3">
                            <a class="btn btn-sm btn-primary" asp-area="" asp-page="/Content/ReportBug">Report Bug</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <a asp-area="Consoles" asp-page="/Content/Tools/Opportunities/CreateOpportunities/CreateOpportunity" class="btn btn-primary btn-block mb-3">Create Opportunity</a>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Folders</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item active">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-inbox"></i> Inbox
                                        <span class="badge bg-primary float-right">12</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-envelope"></i> Sent
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-file-alt"></i> Drafts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-filter"></i> Junk
                                        <span class="badge bg-warning float-right">65</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-trash-alt"></i> Trash
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Labels</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-danger"></i>
                                        Important
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-warning"></i> Promotions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-primary"></i>
                                        Social
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="content">
                                <div class="active tab-pane" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                        @foreach (var opp in Model.oppList)
                                        {
                                            <div class="card m-b-30">
                                                <div class="card-body py-5">
                                                    <div class="row">
                                                        <div class="col-lg-3 text-center">

                                                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid mb-3" alt="user" />

                                                            <div class="button-list mt-4 mb-3">
                                                                <a class="btn btn-primary" asp-area="" asp-page="/Opportunities/job-detail" asp-route-OppId="@opp.Id">View Details</a>
                                                                @*                                            <button type="button" class="btn btn-primary-rgba"><i class="feather icon-message-square mr-2"></i>View Details</button>
                                                            *@
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <h4>@opp.OpportunityTitle</h4>
                                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt"></i>@opp.SiteAddress</span>
                                                            <hr class="dashed">

                                                            <div class="table-responsive">
                                                                <table class="table table-borderless mb-0">
                                                                    <tbody>
                                                                        @*<tr>
                                                                    <th scope="row" class="p-1">Description:</th>
                                                                    <div>*@
                                                                        <span class="text-truncate me-3">@*<i class="fa fa-map-marker-alt text-primary me-2"></i>*@@opp.Description</span>
                                                                        @*</div>
                                                                    </tr>*@
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            @*<div class="button-list mt-4 mb-3">
                                                        <button type="button" class="btn btn-primary-rgba"><i class="feather icon-message-square mr-2"></i>Message</button>
                                                        </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
