@page "/RegisteredUsers"
@model Outreach.Areas.Consoles.Pages.Content.Profile.Administrator.Users.UsersModel
@{
    Layout = "../Shared/_Layout_Interactive";
}
<br>
<h2>List of Registered Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>User_Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListUsers)
        {
            <tr>
                <td>@item.User_Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.Created_at</td>
            </tr>
        }
    </tbody>
</table>